@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
/* Testing */
/* div{
    border: 1px solid red;
}
section{
    border: 1px solid blue;
    padding: 5px;
}
img{
    border: 1px solid white;
} */

/* estilos principales */
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
main{
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    display: flex;

}

/* estilo nav */

header{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: url(./img/background/header.jfif);
}
.div-logo{
    width: 300px;
    max-width: 50%;

    display: flex;
    align-items: center;
}
.div-logo h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 100%;
}
.div-logo p{
    font-weight:bold;
    color: white;
    width: 100%;
}
.logo{
    width: 75px;
    height: 75px;
}
.icon-menu{
    width: 75px;
    height: 75px;
}
.nav-list{
    width: 70%;
    
    display: flex;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
ul a{
    color: white;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}
ul a:hover{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animateBg 14s linear infinite;
    background-image: linear-gradient(90deg,#71c66c,#ff8000,#db5779,#71c66c,#ff8000);
    background-size: 400% 100%;
    letter-spacing: 2px;
}
/* oculto el menu desplegable */
.menu-label{
    display: none;
}
input{
    display: none;
}

/* estilo section "ME" */

.section-me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 120px;
}
.me-img{
    width:20%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 360px;
    border: 2px solid grey;
    margin: 20px;
}
.me-img:hover{
    border-radius: 15px;
    border: 0px solid grey;
}
.me-text{
    margin-left: 20px;
    width: 70%;
    min-height: 250px;
    max-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* estilos tecnologia */

.me-tecnologias{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
}
.tecnologias-card{
    width: 300px;
    display: flex;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(266deg, rgba(2,0,36,1) 20%, rgba(9,9,121,1) 60%, rgba(0,212,255,1) 96%);
    border-radius: 15px;
}
.logo-standar{
    width: 100px;
    height: 100px;
    margin: 5px;
}
.tecnologias-card-txt{
    height: 100%;
}
/* Animaciones */

.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }
    100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    }
}
.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate-reverse forwards;
	animation: flip-horizontal-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) alternate-reverse forwards;
}
@-webkit-keyframes flip-horizontal-bottom {
    0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    }
    100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    }
}
@keyframes flip-horizontal-bottom {
    0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    }
    100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    }
}
.animated-gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animateBg 14s linear infinite;
    background-image: linear-gradient(90deg,#71c66c,#ff8000,#db5779,#71c66c,#ff8000);
    background-size: 400% 100%;
}
@keyframes animateBg {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
}

/* Mediaqueries */

@media (max-width: 770px){
    header{
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 2;
    }
    .div-logo{
        width: 500px;
    }
    .div-logo div{
        width: 100%;
    }
    .menu-label{
        display: flex;
        cursor: pointer;
        justify-content: flex-end;
    }
    #label-menu:checked + .nav-list{
        display: flex;
    }
    .nav-list{
        position: absolute;
        top: 110px;
        left: 25%;
        right: 5%;
        padding: 10px;
        background-color: blue;
        gap: 20px;
        display: none;
        background-image: url(./img/background/header.jfif);
        border:5px solid grey;
        border-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }
    header ul{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list a{
        padding: 10px;
        border-radius: 10px;
        font-size: 20px;
    }
    .me-img{
        width: 100%;
    }
    .me-text{
        width: 100%;
    }
}


/* Estilos extras */
.poppins{
    font-family: 'Poppins', sans-serif;
}
.bold{
    font-weight:bold;
}
.txt-white{
    color: white;
}

/* Letras con gradientes */

.txt-gradientNaranja{
    background: linear-gradient(to right, #f12711, #f5af19);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.txt-gradientAzul{
    background: linear-gradient(to right, #3311f1, #f5af19);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

